<?xml version="1.0" ?>
<robot name="my_robot">
    <webots>
        <plugin type="enpm701_simulation.my_robot_driver.MyRobotDriver" />
        <device reference="camera" type="Camera">
            <ros>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
         <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>true</enabled>
            <updateRate>20</updateRate>
            <topicName>/imu</topicName>
            <alwaysOn>false</alwaysOn>
            <frameName>imu_link</frameName>
            <inertialUnitName>inertial_unit</inertialUnitName>
            <gyroName>gyro</gyroName>
            <accelerometerName>accelerometer</accelerometerName>
        </plugin>
    </webots>
</robot>